/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex mono";
  --bg-color: #1b1b1b;
  --bg-main-image: url("../images/cover-image-dark.png");
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --main-font-size: 18px;
  --text-point-color: #1b1b1b;
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-decktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --decorated-color: #ff0070;
  --button-text-color: #ff0070;
  --title_without_marker-color: #ff0070;
  --border-button-color: #ff0070;
  --button-hover: rgba(255, 0, 112, 0.6);
  --header-decor-color: rgba(255, 0, 112, 1);
}
